@import 'style/styles.css';
@import 'style/home.css';
@import 'style/page.css';
@import 'style/card.css';
@import 'style/tutorial.css';
@import 'style/message.css';
@import 'style/toast.css';
@import 'style/animation/util.css';

@media screen and (width <= 960px) {
  body:has(.output-container.active) .page {
    display: none;
    width: 90vw;
  }

  body:has(.output-container.active) .output-container {
    display: flex;
  }
}